<div class="page-header">
	<h2>Argumentensammlung erfolgreich erstellt</h2>
</div>

<p>
	Ihre Argumentensammlung zum Thema "<em>{{argue.title}}</em>" wurde erfolgreich erstellt.
</p>

<p>
	Du kannst die Argumentensammlung an andere über folgende URL weitergeben:
</p>

<p>
	<strong>http://argufactum.de/argumente.html#/a/{{argue.aId}}</strong>
</p>

<p>
	<br />
</p>

<p>
	<a href="#/answer" class="btn btn-primary">
		<i class="icon-chevron-right icon-white"></i>
		Zur Argumentensammlung
	</a>
</p>
