.argument {
	padding: .25em;
}
.argument-text {
	padding-top: 8px;
}
.pro-contra-table th,.pro-contra-table td {
	width: 50%;
}

/* selectable weights */
.select-weight {
	height: 60px;
	line-height: 120px;
}
.selectable-weight {
	float: left;
	vertical-align: bottom;
	margin-right: 10px;
}
.weight-1 {
	width: 14px;
	height: 24px;
}
.weight-2 {
	width: 21px;
	height: 36px;
}
.weight-3 {
	width: 28px;
	height: 48px;
}
.weight-4 {
	width: 35px;
	height: 60px;
}
.weight-selected .normal {
	fill: #FF0000 !important;
}
.inline-weight {
	display: inline-block;
} 

/* scale */
.scale {
	width: 100%;
}
.scale svg {
	max-height: 400px;
	max-width: 440px;
	float: right;
}

/* SVG */
circle,
rect {
	fill: #006dcc;
}
.cutout {
	fill: #FFF;
}
text {
	fill: #FFF;
	font-family: 'Helvetica-Bold';
	font-size: 76px;
}

/* draggable weights */
.weights {
	height: 48px;
	line-height: 96px;
}
.weights div {
	float: left;
	vertical-align: bottom;
	margin-right: 3px;
	cursor: move;
}
.weight-light {
	width: 7px;
	height: 12px;
}
.weight-normal {
	width: 14px;
	height: 24px;
}
.weight-heavy {
	width: 21px;
	height: 36px;
}
.weight-superheavy {
	width: 28px;
	height: 48px;
}
