.dialog-form {
	display: inline;
}

.criterium-edit {
	width: 252px;
	min-width: 252px;
}
.option-edit,
.cell-edit {
	width: 208px;
	min-width: 208px;
}

.criterium {
	width: 203px;
	max-width: 203px;
}
.ui-slider {
	max-width: 200px;
	margin-top: 7px;
}

.comparison-winner {
	background: #dff0d8 !important;
}

.actions-above-comparison {
	margin-bottom: 1em;
}
.table-comparison input,
.table-comparison select {
	margin: 0;
}
td.cell {
	vertical-align: middle;
}