/* Main marketing message */
.jumbotron {
  text-align: center;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
  margin-top: .5em;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* tools */
.tool-img {
	margin-right: 14px;
	margin-bottom: 1em;
}
.tool-heading {
	margin-top: 0;
}