/* navbar */
.brand {
	font-weight: bold;
}
.navbar .brand {
	float: left;
	display: block;
	margin: 6px 20px 6px 0;
	width: 38px;
	height: 28px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	color: #e0e0e0;
	padding: 0;
}

/* footer */
.promotion {
	width: 100%;
	text-align: center;
}

.promotion img {
	margin-right: 32px;
}

/* validation */
input.ng-invalid,
textarea.ng-invalid {
	border-color: #b94a48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}