/* navbar */
.brand {
	font-weight: bold;
}
.navbar .brand {
  float: left;
  display: block;
  margin: 6px 20px 6px 0px;
  width: 38px;
  height: 28px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  color: #e0e0e0;
  padding: 0;
}