<div class="span2 weights">
	<div class="weight-light" data-weight="1" data-number="{{argument.number}}" draggable="true" ondragstart="argue.evaluate.dragWeight(event)">
		<ng-include src="'partials/argue/weight.html'"></ng-include>
	</div>
	
	<div class="weight-normal" data-weight="2" data-number="{{argument.number}}" draggable="true" ondragstart="argue.evaluate.dragWeight(event)">
		<ng-include src="'partials/argue/weight.html'"></ng-include>
	</div>
	
	<div class="weight-heavy" data-weight="3" data-number="{{argument.number}}" draggable="true" ondragstart="argue.evaluate.dragWeight(event)">
		<ng-include src="'partials/argue/weight.html'"></ng-include>
	</div>
	
	<div class="weight-superheavy" data-weight="4" data-number="{{argument.number}}" draggable="true" ondragstart="argue.evaluate.dragWeight(event)">
		<ng-include src="'partials/argue/weight.html'"></ng-include>
	</div>
</div>
<div class="span10 argument-text">
	{{argument.text}}
</div>