<div class="alert alert-info">
	<i class="icon-info-sign"></i>
	Dies ist ein Prototyp einer interaktiven, visuellen Gewichtung von Argumenten. Die Gewichte der Argumente können per Drag &amp; Drop auf die Waage gezogen werden.<br />
	Der Prototyp wird in den nächsten Tagen weiterentwickelt. Die nächsten Schritte sind, aus unterschiedlichen Gewichten je Argument wählen zu können, die auf der Waage platzierten Gewichte farblich identifizieren zu können und eigene Argumentlisten anlegen zu können. 
</div>

<div class="page-header">
	<h2>{{model.title}}</h2>
</div>

<div class="row-fluid">
	<div class="span6">
		<div data-accordion>
		    <div data-accordion-group data-ng-repeat="argument in model.arguments | orderBy: 'number'" data-heading="{{argument.text}}" data-css="argument">
		    	<div data-ng-show="argument.facts.length > 0">
			    	<strong>Begründung:</strong>
			    	<ol>
			    		<li data-ng-repeat="fact in argument.facts | orderBy: 'number'">
			    			{{fact.text}}
			    			<a data-ng-repeat="reference in fact.references | orderBy: 'number'" href="{{reference.text}}" target="_blank" title="{{reference.text}}" data-ng-show="reference.text.length > 0">
								[{{reference.number}}]
							</a>
			    		</li>
			    	</ol>
			    	<br />
			    </div>
		    	
		    	<p><em>Gewichte dieses Argument:</em></p>
		    	<div class="well weight-argument">
			    	<ol>
			    		<li>
			    			Wähle ein Gewicht:
			    			<div class="unplaced-weights">
								<div data-ng-repeat="weight in weights" data-ng-click="assignWeight(weight, argument)" class="weight draggable-weight unplaced-weight weight-value-{{weight.value}} weight-colored-{{weight.colorNumber}} weight-attached-to-{{weight.attachedTo}}" draggable="true" data-drag-weight>
									<svg xmlns="http://www.w3.org/2000/svg" style="width:100%;height:100%;" version="1.1" viewBox="0 0 58 106" preserveAspectRatio="xMinYMin meet">
										<circle cx="28.75" cy="15" r="15" />
									 	<rect x="15" y="25" width="28" height="20" />
										<circle class="cutout" cx="11.5" cy="29.75" r="7.75" />
										<circle class="cutout" cx="46" cy="29.75" r="7.75" />
									 	
									 	<rect x="0" y="35.5" width="58" height="70" rx="4" ry="4" />
									</svg>
								</div>
								
								<button type="button" class="btn" data-ng-show="argument.weight" data-ng-click="unassignArgument(argument)">
									<i class="icon-ban-circle"></i>
									Keins
								</button>
							</div>
							<br />
			    		</li>
			    		<li data-ng-show="argument.weight">
			    			<p>Wähle eine Seite:</p>
			    			<label class="radio"> <input type="radio" name="optionsRadios" value="pro" data-ng-click="updateScale()" data-ng-model="argument.weight.attachedTo"> Ja</label>
							<label class="radio"> <input type="radio" name="optionsRadios" value="contra" data-ng-click="updateScale()" data-ng-model="argument.weight.attachedTo"> Nein</label>
			    		</li>
			    	</ol>
		    	</div>
		    </div>
		</div>
	</div>
	<div class="span6">
		<div class="scale {{scale.css}}" id="scale">
			<div class="unplaced-weights hidden-phone">
				<div data-ng-repeat="weight in weights" class="weight unplaced-weight weight-value-{{weight.value}} weight-colored-{{weight.colorNumber}} weight-attached-to-{{weight.attachedTo}}" title="{{weight.argument.text}}">
					<svg xmlns="http://www.w3.org/2000/svg" style="width:100%;height:100%;" version="1.1" viewBox="0 0 58 106" preserveAspectRatio="xMinYMin meet">
						<circle cx="28.75" cy="15" r="15" />
					 	<rect x="15" y="25" width="28" height="20" />
						<circle class="cutout" cx="11.5" cy="29.75" r="7.75" />
						<circle class="cutout" cx="46" cy="29.75" r="7.75" />
					 	
					 	<rect x="0" y="35.5" width="58" height="70" rx="4" ry="4" />
					</svg>
				</div>
			</div>
		
			<svg xmlns="http://www.w3.org/2000/svg" style="width:100%;height:100%;" version="1.1" viewBox="0 0 357 325" preserveAspectRatio="xMinYMin meet">
				<g class="plate" transform="translate({{scale.pro.translate}})">
					<animateMotion class="scaleAnimation" dur="0.7s" begin="indefinite" values="{{scale.pro.animateMotion}}" fill="freeze" />
					<text x="40" y="93" class="pro-scale">Ja</text>
					<rect x="0" y="148" width="124" height="6.062" />
				 	<rect x="11" y="148" width="103" height="21" rx="4" ry="4" />
				 	<rect x="49" y="165" width="25" height="42" />
					
					<g id="leftPlateWeights" class="weights">
						<g data-ng-repeat="weight in scale.pro.weights" class="weight weight-colored-{{weight.weight.colorNumber}}" transform="translate({{weight.translate}})">
							<g transform="scale({{weight.scale}})">
								<circle cx="28.75" cy="39.5" r="15" />
							 	<rect x="15" y="49.5" width="28" height="20" />
								<circle class="cutout" cx="11.5" cy="54.25" r="7.75" />
								<circle class="cutout" cx="46" cy="54.25" r="7.75" />
							 	
							 	<rect x="0" y="60" width="58" height="80" rx="4" ry="4" />
						 	</g>
						</g>
					</g>
					
					<rect x="1" y="66" width="122" height="80" data-plate="pro" class="droparea" data-drop-weight />
				</g>
			
				<g class="plate" transform="translate({{scale.contra.translate}})">
					<animateMotion class="scaleAnimation" dur="0.7s" begin="indefinite" values="{{scale.contra.animateMotion}}" fill="freeze" />
					<text x="255" y="93" class="contra-scale">Nein</text>
					<rect x="233" y="148" width="124" height="6.062" />
				 	<rect x="244" y="148" width="103" height="21" rx="4" ry="4" />
				 	<rect x="282" y="165" width="25" height="42" />
		
					<g id="rightPlateWeights" class="weights">
						<g data-ng-repeat="weight in scale.contra.weights" class="weight weight-colored-{{weight.weight.colorNumber}}" transform="translate({{weight.translate}})">
							<g transform="scale({{weight.scale}})">
								<circle cx="28.75" cy="39.5" r="15" />
							 	<rect x="15" y="49.5" width="28" height="20" />
								<circle class="cutout" cx="11.5" cy="54.25" r="7.75" />
								<circle class="cutout" cx="46" cy="54.25" r="7.75" />
							 	
							 	<rect x="0" y="60" width="58" height="80" rx="4" ry="4" />
							 </g>
						</g>
					</g>

				 	<rect x="233" y="66" width="122" height="80" data-plate="contra" class="droparea" data-drop-weight />
				</g>
			 	
			 	<g id="base">
				 	<rect x="168" y="210" width="23" height="74" />
				 	<rect x="49" y="281" width="258" height="34" rx="4" ry="4" />
			 	</g>
			
				<g id="scalebeam" transform="rotate({{scale.leaning}}, 178, 207)">
					<animateTransform class="scaleAnimation" attributeName="transform" type="rotate" dur="0.7s" begin="indefinite" from="{{scale.previousLeaning}} 178 207" to="{{scale.leaning}} 178 207" fill="freeze" />
				 	<rect x="49" y="197" width="258" height="21" rx="12" ry="12" />
					<circle class="cutout" cx="60" cy="207" r="9" />
				 	<circle class="cutout" cx="179" cy="207" r="9" />
					<circle class="cutout" cx="296" cy="207" r="9" />
				</g>
			</svg>
		</div>
	</div>
</div>
