<div class="page-header">
	<h2>{{topic.title}}</h2>
</div>

<div class="row-fluid">
	<div class="span6">
		<form>
			<div class="progress">
				<div class="bar" style="width: {{progress()}}%;"></div>
			</div>
			
			<p>
				<small>Argument {{argument.number}} von {{topic.arguments.length}}:</small>
			</p>
			<p>
				<strong>{{argument.text}}</strong>
			</p>
			
			<br />
			<p>
				<em>Ihre Gewichtung:</em>
			</p>
			
			<div class="select-weight">
				<div data-ng-repeat="possibleChoice in possibleChoices | orderBy: 'value'" class="selectable-weight weight-{{possibleChoice.value}}" data-ng-class="getSelectedClass(possibleChoice)" data-ng-click="choice(possibleChoice)">
					<ng-include src="'partials/argue/weightSvgSimple.html'"></ng-include>
				</div>
			</div>
			
			<br /><br />
			<button type="button" class="btn btn-primary" data-ng-show="weight.choice > 0" data-ng-click="saveWeight()">
				<i class="icon-ok icon-white"></i> Weiter
			</button>
			<button type="button" class="btn" data-ng-click="skip()">
				<i class="icon-remove"></i> Überspringen
			</button>
			<button type="button" class="btn pull-right" data-ng-show="weights.length > 0" data-ng-click="back()">
				<i class="icon-arrow-left"></i>
				Zurück
			</button>
		</form>
	</div>
	<div class="span6 weighted-arguments" data-ng-show="weights.length > 0">
		<div class="well">
			<p><strong>Beantwortete Argumente:</strong></p>
		
			<ol>
				<li data-ng-repeat="weight in weights | orderBy: 'number'">
					{{weight.argument.text}}<br />
					<p>
						<strong>Ihre Gewichtung:</strong>
						<div class="weight-{{weight.choice}} inline-weight">
							<ng-include src="'partials/argue/weightSvgSimple.html'"></ng-include>
						</div>
						<i class="icon-pencil clickable" data-ng-click="gotoQuestion(weight.argument)"></i>
					</p>
				</li>
			</ol>
		</div>
	</div>
</div>
