<p>Herzlich Willkommen bei Argufactum!</p>
<br />
<p>
	<a href="$verificationUrl"><strong>Bitte klicken Sie hier, um Ihre Registrierung zu bestätigen</strong> </a>
</p>
<br />
<p>Daten Ihres Zugangs:</p>
<p>Benutzername: $user.username</p>
<p>E-Mail Adresse: $user.email</p>
<br />
<p>Vielen Dank für Ihre Registrierung!</p>
<br />
<p>Sollten Sie sich nicht bei Argufactum registriert haben, hat ein anderer versucht, ein Benutzerkonto mit Ihrer E-Mail Adresse anzulegen.
	Bitte leiten Sie in solch einem Fall diese E-Mail an deny@argufactum.de weiter.</p>
<br />
<p>Dies ist eine automatisch versendete Nachricht.</p>
