<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="de.ifcore.argue" />

	<!-- Spring MVC + Atmosphere & Ajax -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="formatterRegistrars">
			<set>
				<bean class="de.ifcore.argue.domain.format.ArgueFormatterRegistrar">
					<constructor-arg ref="messageSource" />
				</bean>
			</set>
		</property>
		<property name="converters">
			<set>
				<bean class="de.ifcore.argue.domain.convert.StringTrimConverter" />
			</set>
		</property>
	</bean>
	
	<bean id="ajaxObjectMapper" class="org.codehaus.jackson.map.ObjectMapper" />
	<mvc:annotation-driven conversion-service="conversionService">
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
				<property name="objectMapper" ref="ajaxObjectMapper" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- Datenbank -->
	<import resource="classpath:context/dataSource.xml" />
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Localization -->
	<import resource="classpath:context/messageSource.xml" />
	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="locale" />
		</bean>
	</mvc:interceptors>
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />

	<!-- Beans -->
	<import resource="classpath:context/daoBeans.xml" />
	<import resource="classpath:context/serviceBeans.xml" />
	<import resource="classpath:context/sessionBeans.xml" />
	<import resource="classpath:context/requestBeans.xml" />

	<!-- Spring Security -->
	<import resource="classpath:context/security.xml" />

	<!-- Spring Social -->
	<import resource="classpath:context/social.xml" />

	<!-- Email -->
	<import resource="classpath:context/email.xml" />
</beans>