<div class="page-header">
	<h2>{{questionnaire.title}}</h2>
</div>

<div class="row-fluid">
	<div class="span6">
		<form>
			<div class="progress">
				<div class="bar" style="width: {{progress()}}%;"></div>
			</div>
			
			<p>
				<small>Frage {{question.number}} von {{questionnaire.questions.length}}:</small>
			</p>
			<p>
				<strong>{{question.text}}</strong>
			</p>
			
			<br />
			<div class="well" data-ng-show="question.facts.length > 0">
				<p>
					<i class="icon-info-sign"></i> <strong>Begleitinformationen / Fakten</strong>
				</p>
				<ul style="margin-bottom:0">
					<li data-ng-repeat="fact in question.facts | orderBy: 'number'">
						{{fact.text}}
					</li>
				</ul>
			</div>

			<label class="radio"> <input type="radio" name="optionsRadios" value="YES" data-ng-model="answer.choice"> Ja</label>
			<label class="radio"> <input type="radio" name="optionsRadios" value="NO" data-ng-model="answer.choice"> Nein</label>
			<label class="radio"> <input type="radio" name="optionsRadios" value="DRAW" data-ng-model="answer.choice"> Dazu habe ich keine Meinung</label>
			
			<br />
			<button type="button" class="btn btn-primary" data-ng-show="answer.choice.length > 0" data-ng-click="saveAnswer()">
				<i class="icon-ok icon-white"></i> Weiter
			</button>
			<button type="button" class="btn" data-ng-click="skip()">
				<i class="icon-remove"></i> Überspringen
			</button>
			<button type="button" class="btn pull-right" data-ng-show="answers.length > 0" data-ng-click="back()">
				<i class="icon-arrow-left"></i>
				Zurück
			</button>
		</form>
	</div>
</div>
