<div class="page-header">
	<h2>Fragenkatalog erfolgreich erstellt</h2>
</div>

<p>
	Ihr Fragenkatalog zum Thema "<em>{{questionnaire.title}}</em>" wurde erfolgreich erstellt.
</p>

<p>
	Sie können den Fragenkatalog an andere über folgende URL weitergeben:
</p>

<p>
	<strong>http://fragenkatalog.argufactum.de/QDda4</strong>
</p>

<p>
	<br />
</p>

<p>
	<a href="#/answer" class="btn btn-primary">
		<i class="icon-chevron-right icon-white"></i>
		Fragenkatalog selbst beantworten
	</a>
	<a href="#/start" class="btn">
		<i class="icon-home"></i>
		Zur Übersicht
	</a>
</p>
