<div class="page-header">
	<h2>Fragenkatalog erfolgreich erstellt</h2>
</div>

<p>
	Ihr Fragenkatalog zum Thema {{questionnaire.title}} wurde erfolgreich erstellt.
</p>

<p>
	Sie können den Fragenkatalog an andere über folgende URL weitergeben:
</p>

<p>
	<strong>http://fragenkatalog.argufactum.de/QDda4</strong>
</p>

<p>
	Was möchten Sie jetzt tun?
</p>

<p>
	<a href="#/answer" class="btn">Fragenkatalog selbst beantworten</a><br /><br />
	<a href="#" class="btn">Fragenkatalog bearbeiten</a><br /><br />
	<a href="#/create" class="btn">weiteren Fragenkatalog erstellen</a><br /><br />
	<a href="#/start" class="btn">Zurück zur Startseite</a><br /><br />
</p>