<div class="page-header">
	<h2>Fragenkatalog erstellen</h2>
</div>

<div class="row">
	<div class="span7">
		<form class="form-horizontal">
			<p>
				<input type="text" tabindex="1" name="title" class="input-xxlarge" placeholder="Thema" data-ng-model="model.title" data-popover="Wählen Sie ein Thema, dem man zustimmen oder widersprechen kann (z.B. 'Stuttgart 21', 'Erhalt der Grundschule')" data-popover-trigger="focus">
			</p>
			
			<br />
			<p><strong>Frage {{question.number}}</strong></p>	
			
			<div class="well">		
			<p>
				<label>Frage</label>
				<input type="text" tabindex="2" id="questionInput" name="question" autofocus="autofocus" class="input-xxlarge" data-ng-model="question.text" placeholder="z.B. Sind Sie der Meinung, dass die Umweltbelastung zu hoch ist?" data-popover='Stellen Sie Entscheidungsfragen - also Fragen, auf die man nur mit Ja oder Nein antworten kann. Formulieren Sie die Fragen möglichst neutral, kurz und verständlich - Suggestivfragen sind unerwünscht.' data-popover-trigger="focus" required="required" maxlength="255" />
			</p>
			
			<p>
				<label>Art der Fragenstellung <i class="icon-info-sign" data-popover='Die Antwort "Ja" gilt bei einer befürwortenden Frage als Zustimmung. Umgekehrt gilt die Antwort "Ja" bei einer bestreitenden Frage als Ablehnung.' data-popover-trigger="focus"></i></label>
				<select data-ng-model="question.supports">
					<option value="NO">Bestreitende Frage</option>
					<option value="YES">Befürwortende Frage</option>
				</select>
			</p>
			
			<p>
				Zusatzinformationen
			</p>
			<ol class="facts-editor">
				<li data-ng-repeat="fact in question.facts | orderBy: 'number'" class="editable-fact">
					{{fact.text}}
					<a data-ng-repeat="reference in fact.references | orderBy: 'number'" href="{{reference.text}}" target="_blank" title="{{reference.text}}" data-ng-show="reference.text.length > 0">
						[{{reference.number}}]
					</a>
					<i class="icon-pencil clickable" data-ng-click="editFact(fact, question)"></i>
					<i class="icon-remove clickable" data-ng-click="removeFact(fact, question)"></i>
				</li>
			</ol>
			
			<button type="button" class="btn" data-ng-click="addFact(question)">
				<i class="icon-plus"></i> Information hinzufügen
			</button>
			</div>

			<p>
				<button type="submit" class="btn btn-info" data-ng-click="addQuestion()">
					<i class="icon-arrow-right icon-white"></i>
					Nächste Frage hinzufügen
				</button>
			</p>
			
			<div class="form-actions">
				<button type="button" class="btn btn-primary" data-ng-click="save()">
					<i class="icon-check icon-white"></i>
					Fertigstellen
				</button>
				<button type="button" class="btn" data-ng-click="exportJson()">
					JSON-Export
				</button>
				<button type="button" class="btn" data-ng-click="importJson()">
					JSON-Import
				</button>
			</div>
		</form>
	</div>
	<div class="span5">
		<strong>Alle Fragen:</strong><br />
		<br />
		<ol class="question-list">
			<li data-ng-repeat="question in model.questions | orderBy: 'number'">
				<span data-ng-class="getCssClassForQuestion(question)">{{question.text}}</span>
				(<span class="muted" data-ng-pluralize data-count="question.facts.length" data-when="{1: '1 Fakt', other: '{} Fakten'}"></span>)
				<i class="icon-pencil clickable" data-ng-click="editQuestion(question)"></i>
				<i class="icon-remove clickable" data-ng-click="removeQuestion(question)"></i>
			</li>
		</ol>
	</div>
</div>
