<form class="form-horizontal dialog-form">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="close()">&times;</button>
		<h3>Zusatzinformation bearbeiten</h3>
	</div>
	
	<div class="modal-body">
		<p>
			<label>Zusatzinformation</label>
			<textarea name="text" autofocus="autofocus" class="input-block-level" data-ng-model="fact.text" required="required" maxlength="255"></textarea>
		</p>
		
		<p>
			<label>Quellen</label>
		</p>
		
		<ol class="fact-references">
			<li data-ng-repeat="reference in fact.references | orderBy: 'number'">
				<input type="text" name="reference" data-ng-model="reference.text" data-ng-change="assureReferenceInput(fact)" class="input-block-level" placeholder="URL, z.B. http://de.wikipedia.org/wiki/Tatsache" required="required" maxlength="255" />
			</li>
		</ol>
	</div>
	
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" data-ng-click="close()">
			<i class="icon-ok icon-white"></i>
			Speichern
		</button>
		<button type="submit" class="btn btn-danger" data-ng-click="remove()">
			<i class="icon-remove icon-white"></i>
			Löschen
		</button>
	</div>
</form>
