<div class="page-header">
	<h2>Fragenkatalog</h2>
</div>

<div class="row">
	<div class="span7">
		<h3>Was ist das?</h3>
	
		<p>Das Ziel des Fragenkatalogs ist, Bürger bei der Entscheidungsfindung zu kommenden politischen Entscheidungen, z.B. Bürgerentscheiden, zu unterstützen. Zu diesem Zweck soll hier eine Plattform gemeinschaftlich erstellter Fragenkataloge entstehen.</p>
		
		<p>Jeder Fragenkatalog besteht aus mehreren Einzelfragen, zu denen Begleitinformationen mit Quellenangabe hinterlegt werden können. Bei der Beantwortung können die Fragen nach persönlicher Relevanz gewichtet werden.

		<p>
			Nach Beantwortung aller Fragen erscheint eine Auswertung, die eine errechnete Abstimmungsempfehlung für den
			Bürgerentscheid anzeigt. Durch die gestellten Fragen wird zudem ein Überblick vermittelt, welche Punkte überhaupt relevant für die
			Entscheidung sind.
		</p>
		
		<div class="row-fluid screenshot">
			<div class="span12">
				<div class="thumbnail">
					<img src="img/fragenkatalog-auswertung-screenshot.png" alt="">
					<p class="muted">Beispiel der Auswertung</p>
				</div>
			</div>
		</div>
	</div>
	<div class="span5">
		<h3>Möchte ich testen!</h3>

		<p>Beispiele:</p>

		<table class="table table-bordered table-striped">
			<tbody>
				<tr>
					<td><a href="#/q/a">Erhalt der Realschule RBS in Grevenbroich</a></td>
					<td class="questionCount">7 Fragen</td>
				</tr>
				<tr>
					<td><a href="#/q/b">Stromnetz in Berlin verstaatlichen</a></td>
					<td class="questionCount">7 Fragen</td>
				</tr>
				<tr>
					<td><a href="#/q/c">Weiterführung der A100 in Berlin</a></td>
					<td class="questionCount">6 Fragen</td>
				</tr>
				<tr>
					<td><a href="#/q/25k">Errichtung eines Nationalparks im Nordschwarzwald</a></td>
					<td class="questionCount">6 Fragen</td>
				</tr>
			</tbody>
		</table>

		<p>
			<a href="#/create" class="btn btn-primary">
				<i class="icon-chevron-right icon-white"></i> Eigenen Fragenkatalog erstellen!
			</a>
		</p>

		<br />
		<h3>Aktueller Entwicklungsstand</h3>
		<p>Der Fragenkatalog wird Stück für Stück mit weiteren Funktionen ergänzt. Geplant sind derzeit unter anderem folgende Erweiterungen (sortiert nach Priorität):</p>
		<ul>
			<li>persönliche Gewichtung von einzelnen Fragen ermöglichen</li>
			<li>Den Fragenkatalog in eine andere Webseite einbinden zu können</li>
			<li>Den Fragenkatalog in soziale Netzwerke zu integrieren</li>
			<li>Das persönliche Ergebnis zu einem späteren Zeitpunkt erneut aufrufen sowie teilen zu können</li>
			<li>Feedback an den Ersteller des Fragenkatalogs geben zu können</li>
			<li>Liste aller erstellten Fragenkataloge</li>
			<li>Eine Gesamtübersicht der gegebenen Antworten einsehen zu können</li>
		</ul>
		<p>Du bist Entwickler und arbeitest gerne mit <a href="http://angularjs.org/">AngularJS</a> oder Java? Ich würde mich sehr über deine Hilfe freuen!</p>
	</div>
</div>

