<div class="page-header">
	<h2>Fragenkatalog</h2>
</div>

<div class="row">
	<div class="span7">
		<h3>Was ist das?</h3>
	
		<p>Das Ziel des Fragenkatalogs ist, Bürger vor anstehenden Bürgerentscheiden mit einem Fragenkatalog bei der Entscheidungsfindung zu unterstützen. Zu diesem Zweck soll hier eine Plattform gemeinschaftlich erstellter Fragenkataloge entstehen.</p>
		
		<p>Jeder Fragenkatalog besteht aus bis zu 10 Fragen. Zu jeder Frage können Begleitinformationen hinterlegt werden. Bei der Beantwortung können die Fragen nach persönlicher Relevanz gewichtet werden.
			
		<div class="thumbnail screenshot">
			<img src="img/fragenkatalog-screenshot.png" alt="">
			<p class="muted">Beispielfrage</p>
		</div>
			
		<p>
			Nach Beantwortung aller Fragen erscheint eine Auswertung, die eine errechnete Abstimmungsempfehlung für den
			Bürgerentscheid anzeigt. Durch die gestellten Fragen erhält man zudem einen Überblick, welche Punkte überhaupt relevant für die
			Entscheidung sind.
		</p>
		
		<div class="row-fluid screenshot">
			<div class="span12">
				<div class="thumbnail">
					<img src="img/fragenkatalog-auswertung-screenshot.png" alt="">
					<p class="muted">Beispiel der Auswertung</p>
				</div>
			</div>
		</div>
	</div>
	<div class="span5">
		<h3>Möchte ich testen!</h3>

		<p>Beispiele:</p>

		<table class="table table-bordered table-striped">
			<tbody>
				<tr>
					<td><a href="#/answer">Erhalt der Realschule RBS in Grevenbroich</a></td>
					<td class="questionCount">7 Fragen</td>
				</tr>
				<tr>
					<td><a href="#/answer">Stromnetz in Berlin verstaatlichen</a></td>
					<td class="questionCount">10 Fragen</td>
				</tr>
				<tr>
					<td><a href="#/answer">Bau der A100 in Berlin</a></td>
					<td class="questionCount">8 Fragen</td>
				</tr>
			</tbody>
		</table>

		<p>
			<button type="button" class="btn" data-ng-click="list()">
				<i class="icon-th-list"></i> Liste aller Fragenkataloge
			</button>
		</p>
		<p>
			<a href="#/create" class="btn btn-primary">
				<i class="icon-chevron-right icon-white"></i> Eigenen Fragenkatalog erstellen!
			</a>
		</p>

	</div>
</div>

